:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --dark-background-color: #2f303a;
  --secondary-background-color: #F5F4FA;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

ul, p, h1, h2, h3, h4, h5, h6  {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* outline: solid 1px tomato; */
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: solid 1px #ECECEC;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.current-page {
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--secondary-text-color);

  text-decoration: none;
}

.text-logo {
  color: var(--accent-color);
}

.nav-list {
  padding: 25px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.contact-list {
  padding: 25px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  padding: 200px 0;
  background-color: var(--dark-background-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.occupation {
  padding-bottom: 94px;
  text-align: center;
}

.occupation-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;

  color: var(--secondary-text-color);
}

.team {
  text-align: center;
  background-color: var(--secondary-background-color);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;

  color: var(--secondary-text-color);
}

.team-list-item {
  background-color:var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--secondary-text-color);
}

.team-list-item-text {
  font-size: 16px;
  line-height: 1.18;
}

.footer {
  padding: 60px 0;
  background-color: var(--dark-background-color);
}

.footer-address {
  font-style: normal;
  color: var(--primary-white-color);
}

.dark-bg {
  color: var(--primary-white-color);
}

.footer-contact-list {
  color: rgba(255, 255, 255, 0.6);
}

/* Potrfolio */

.button {
  padding: 6px 22px;
  background: var(--secondary-background-color);
  border-radius: 4px;
  border: none;
}

.our-works {
  padding-top: 94px;
}

.our-works-list {
  padding-bottom: 50px;
}


.our-works-list-item-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.our-works-list-item-button:hover,
.our-works-list-item-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
}

.our-works-list-cards-item {
  border: 1px solid #EEEEEE;
}

.our-works-list-cards-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.our-works-list-cards-item-text {
  font-size: 16px;
  line-height: 1.87;
}
